<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <!-- Add your custom logo here -->
        <nav class="navbar"> <!-- Apply the "navbar" class here -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/contacts">Business Contacts</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- The content from child templates will be inserted here -->
        <%- body %>
    </main>
    
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Kannan</p>
    </footer>
</body>
</html>
