

<% var bodyContent = `
<section class="about">
    <h1>About Me</h1>
    <div class="passport-photo">
        <img src="/images/my-pic.jpg" alt="Photo">
    </div>
    <p>
        Hi, I'm Kannan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla auctor bibendum nulla, eget bibendum libero luctus eu.
    </p>
    <p>
        I'm a passionate web developer with expertise in [Your Skills].
        I love creating beautiful and functional websites that solve real-world problems.
    </p>

    <!-- Add a link to  resume PDF file -->
    <p><a href="/resume.pdf" target="_blank">Download My Resume (PDF)</a></p>
</section>
` %>

<%- include('./layouts/layout', { body: bodyContent }) %>
