/* styles.css */

/* Remove any previous styles for header if not needed */
header {
    background-color: #9db19e;
    color: #bec9a5;
    padding: 10px 0;
} 

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #c40e0e;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff4500; /* Change the color on hover */
}

/* Adjust the styling for the .navbar class */
.navbar {
    background-image: url('/images/my-logo-head1.gif');
    background-repeat: no-repeat;
    background-size: auto; /* Adjust the percentage values */
    background-position: center;
    height: 100px;
}


body {
    background-image: url('/images/my-logo.gif');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    height: 100vh; /* Use 100vh for full viewport height */
}

.passport-photo {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Passport photo size is often around 35mm x 45mm */
    background-color: white; /* Plain white background */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    overflow: hidden;
}

.passport-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

